---
import { work } from "../content";
---

<section class="">
    <div class="c flex justify-center">
        <div class="mt-2 md:w-1/3 w-full">
            {
                work.map((item) => (
                    <div class="flex justify-between w-full py-[.3em]">
                        <a
                            target="_blank"
                            class="underline  w-full  hover:opacity-50 uppercase"
                            href={item.url}
                        >
                            {item.title}
                        </a>

                        {item.date && (
                            <span class="text-right w-1/3 ">{item.date}</span>
                        )}

                        {item.agency && (
                            <a
                                href={item.agencyUrl}
                                target="_blank"
                                class="hover:opacity-50 pl-[2em]"
                            >
                                (w/{item.agency})
                            </a>
                        )}
                    </div>
                ))
            }
        </div>
    </div>
</section>
